.container {
    background-color: #cff6ff;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3rem 17.5rem 15rem 22.5rem 20rem 12.5rem 12.5rem 3rem;
    grid-template-areas: 
    "nav nav nav nav nav"
    "pho n n n n"
    "ls pro pro pro pro"
    "ls exp exp exp exp"
    "ls edu edu edu edu"
    "ls oth oth oth oth"
    "ls hob hob hob hob"
    "foot foot foot foot foot";
}

nav {
    background-color: blue;
    grid-area: nav;
}

#photo {
    background-color: pink;
    grid-area: pho;
}

#photo img{
    width: 17.5rem;
    height: 17.5rem;
}

#name {
    background-color: pink;
    grid-area: n;
}

.lang_skills {
    background-color: lightblue;
    grid-area: ls;
}

#profile {
    background-color: green;
    grid-area: pro;
}

#exp {
    background-color: yellow;
    grid-area: exp;
}

#edu {
    background-color: green;
    grid-area: edu;
}

#other {
    background-color: red;
    grid-area: oth;
}

#hobbies {
    background-color: darkgray;
    grid-area: hob;
}

footer {
    background-color: darkblue;
    grid-area: foot;
}