* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: whitesmoke;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3rem 17.5rem 15rem 22.5rem 20rem 12.5rem 12.5rem 3rem;
    grid-template-areas: 
    "nav nav nav nav nav"
    "pho n n n n"
    "ls pro pro pro pro"
    "ls exp exp exp exp"
    "ls edu edu edu edu"
    "ls oth oth oth oth"
    "ls hob hob hob hob"
    "foot foot foot foot foot";
}

.navbar {
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: nav;
}

.headline {
    font-size: 1.5rem;
    margin: 1rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    padding: 1rem;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    display: block;
}

.navbar-links li:hover {
    background-color: lightblue;
}
/* ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
}

a {
    color: white;
    
} */

#photo {
    background-color: whitesmoke;
    grid-area: pho;
}

#photo img{
    width: 17.5rem;
    height: 17.5rem;
}

#name {
    background-color: whitesmoke;
    grid-area: n;
}

.lang_skills {
    background-color: whitesmoke;
    grid-area: ls;
}

#profile {
    background-color: whitesmoke;
    grid-area: pro;
}

#exp {
    background-color: whitesmoke;
    grid-area: exp;
}

#edu {
    background-color: whitesmoke;
    grid-area: edu;
}

#other {
    background-color: whitesmoke;
    grid-area: oth;
}

#hobbies {
    background-color: whitesmoke;
    grid-area: hob;
}

footer {
    background-color: whitesmoke;
    grid-area: foot;
}