* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    background-color: whitesmoke;
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 5% 90% 5%;
    grid-template-areas: 
    "nav nav"
    "photo profile"
    "photo foot";
}

.navbar {
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    grid-area: nav;
}

.headline {
    font-size: 1.5rem;
    margin: 1rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    padding: 1rem;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    display: block;
}

.navbar-links li:hover {
    background-color: lightblue;
}

.photo {
    grid-area: photo;
    display: block;
}

.photo img {
    width: 100%;
}

.profile {
    grid-area: profile;
    margin: .3rem;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: lightgrey;
}

.profile h2 {
    font-size: 2rem;
    text-align: center;
}

.profile p {
    padding: .5rem;
    font-size: 1.5rem;
    word-spacing: .1rem;
    line-height: 180%;
}

.foot {
    padding-right: 1rem;
    text-align: right;
    grid-area: foot;
}