* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

/*.container {
    background-color: whitesmoke;
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 5% 90% 5%;
    grid-template-areas: 
    "nav nav"
    "photo profile"
    "photo foot";
}*/
.container {
    display: flex;
    background-color: whitesmoke;
}

.navbar {
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    grid-area: nav;
}

.headline {
    font-size: 1.5rem;
    margin: 1rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    padding: 1rem;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    display: block;
}

.navbar-links li:hover {
    background-color: lightblue;
}

.photo {
    grid-area: photo;
    display: block;
}

.photo img {
    width: 100%;
}

.profile {
    grid-area: profile;
    margin: .3rem;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: lightgrey;
}

.profile h2 {
    font-size: 2rem;
    text-align: center;
}

.profile p {
    padding: .5rem;
    font-size: 1.5rem;
    word-spacing: .1rem;
    line-height: 180%;
}

.foot {
    padding-right: 1rem;
    text-align: right;
    grid-area: foot;
}

.toggle-button {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
/*Laptop and tablet view*/
@media (max-width: 1700px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}

/*mobile view*/
@media (max-width: 550px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    img {
        display: none;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
    }
}